body {
   padding-top: 50px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#banner {
    position: absolute;
    width: 100%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    z-index: 0;
}

#content{
    padding-top: 140px;
}

#logo {
    margin-top: -10px;
    width: 80px;
}

.navbar{
    max-height: 50px;
}

.jumbotron h3{
    color: red;
}

.drug-usage-description{
    max-height: 100px;
    overflow-y: auto;
}


@media (min-width: 480px) {

}











