body {
   padding-top: 50px;
   padding-bottom: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#disclaimer{
    font-size: 12px;
}

.jumbotron h3{
    color: red;
}

.drug-usage-description{
    max-height: 100px;
    overflow-y: auto;
}











