body {
   padding-top: 50px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#banner {
     position: absolute;
     width: 100%;
     z-index: 0;
}

#content{
    padding-top: 120px;
}

#logo {
    margin-top: -10px;
    width: 80px;
}

.navbar{
    max-height: 50px;
}

.jumbotron h3{
    color: red;
}

.drug-usage-description{
    max-height: 100px;
    overflow-y: auto;
}

@media (max-width: 1199px) {

    #content{
        padding-top: 80px;
    }
}

@media (min-width: 1740px) {

    #banner {
        width: 80%;
    }
}

@media (max-width: 480px) {

    #map {
        width: 80%;
        margin-left: 10%;
    }

    #content{
        padding-top: 40px;
    }

}











