<div class="jumbotron">
    <div class="container">
        <div class="col-lg-6">
            <h1>FDA Recalls</h1>
            <p>Use this tool to view the regions of drug recalls.</p>
        </div>
        <div class="col-lg-6">
            <h3>*Disclaimer</h3>
            <p id="disclaimer">openFDA is a beta research project and not for clinical use. While we make every effort to ensure that data is accurate, you should assume all results are unvalidated.</p>
        </div>
    </div>
</div>

<div class="container-fluid" ng-controller="SearchController">
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1">
            <tabset type="pills">
                <tab ng-repeat="tab in tabs" heading="{{tab.name}}" ng-init="populate(tab.name)">
                    <div ng-include="tab.url"></div>
                </tab>
            </tabset>
        </div>
        <div class="col-lg-5" ng-controller="MapController">
            <leaflet center="center" geojson="geojson" width="100%" height="400px"></leaflet>
        </div>
    </div>
</div>