<div class="jumbotron">
    <div class="container">
        <h1>FDA Recalls</h1>
        <p>Use this tool to view the regions of drug recalls.</p>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1" ng-controller="SearchController">
            <tabset type="pills">
                <tab ng-repeat="tab in tabs" heading="{{tab.name}}" ng-init="populate(tab.name)">
                    <div ng-include="tab.url"></div>
                </tab>
            </tabset>
        </div>
        <div class="col-lg-5" ng-controller="MapController">
            <leaflet center="center" geojson="geojson" width="100%" height="400px"></leaflet>
        </div>
    </div>
</div>