<br />
<div class="row">
    <div class="col-sm-6">
        <h4>Browse drug recall information:</h4>
    </div>
    <div class="col-sm-6">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search Drugs" ng-model="search.drug_name" ng-change="toggleDropdown()">
        </div>
        <div class="btn-group" dropdown is-open="dropdown.isopen">
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="drug in drug_list | filter:search.drug_name | unique: 'drug' | limitTo:10">
                    <a href="" ng-click="getDrugData(drug)">{{drug | capitalize:true}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>


