<br />
<div class="row">
    <div class="col-sm-6">
        <h4>Browse drug recall information</h4>
    </div>
    <div class="col-sm-6">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search Drugs" ng-model="search.drug_name" ng-change="toggleDropdown()">
        </div>
        <div class="btn-group" dropdown is-open="dropdown.isopen">
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="drug in drug_list | filter:search.drug_name | unique: 'drug' | limitTo:10">
                    <a href="" ng-click="getDrugData(drug)">{{drug | capitalize:true}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row" ng-show="selected_drug">
    <div class="col-sm-12">
        <h3>{{selected_drug}} &nbsp;<small>{{selected_drug_purpose}}</small></h3>
        <p class="help-block">{{selected_drug_usage | capitalize}}</p>
        <p><strong>Manufacturer: </strong>{{manufacturer_name}}</p>
        <p><strong>Active Ingredient(s): </strong><span ng-repeat="substance in active_ingredients">{{substance.name | capitalize:true}}{{$last ? '' : ', '}} </span>  </p>
        <hr />
        <h3>Recalls</h3>
        <div ng-hide="recalls.length"><span class="glyphicon glyphicon-ok"></span> No recalls found!</div>
        <table class="table table-hover" ng-show="recalls.length">
            <thead>
            <tr>
                <th>Date</th><th>Quantity</th><th>Reason</th><th>Region</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="recall in recalls">
                <td>{{recall.recall_initiation_date | date}}</td>
                <td>{{recall.product_quantity}}</td>
                <td>{{recall.reason_for_recall}}</td>
                <td><span ng-repeat="region in recall.recall_area track by $index">{{region}}{{$last ? '' : ', '}} </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
