<br />
<div class="row">
    <div class="col-sm-6">
        <h4>Browse drug manufacturers:</h4>
    </div>
    <div class="col-sm-6">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search Manufacturer" ng-model="search.maker_name" ng-change="toggleMakerDropdown()">
        </div>
        <div class="btn-group" dropdown is-open="dropdown.isopen">
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="maker in maker_list | filter:search.maker_name | unique: 'maker' | limitTo:10">
                    <a href="" ng-click="getManufacturerData(maker)">{{maker| capitalize:true}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr />
<div class="row" ng-show="selected_maker" ng-controller="PaginationCtrl">
    <div class="col-sm-12">
        <h3>{{selected_maker}}</h3>
        <p><strong>Location: </strong>{{manufacturer_city}}, {{manufacturer_state}}</p>
        <p>{{manufacturer_count}} <strong>Total Recalls</strong></p>
        <hr />

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Recalled Drug Name</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="drug in maker_drug_recalls.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                <td>{{drug.name}}</td>
            </tr>
            </tbody>
        </table>
        <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" items-per-page="itemsPerPage" boundary-links="true"></pagination>
    </div>
</div>