<br />
<div class="row">
    <div class="col-sm-6">
        <h4>Browse drug manufacturers:</h4>
    </div>
    <div class="col-sm-6">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search Manufacturer" ng-model="search.maker_name" ng-change="toggleMakerDropdown()">
        </div>
        <div class="btn-group" dropdown is-open="dropdown.isopen">
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="maker in maker_list | filter:search.maker_name | unique: 'maker' | limitTo:10">
                    <a href="" ng-click="getManufacturerData(maker)">{{maker| capitalize:true}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

